.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background-color: #f5f5f5;
  }
  
  .mat-card {
    padding: 16px;
    max-width: 400px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  